/* color palette 
background-color: mistyrose with text darkolivegreen
Background-color: darkseagreen with text mistyrose 
border-color: wheat
*/

* {
    font-family: 'Courier New', Courier, monospace;
    margin:0;
    padding:0;  
  }
  
  main {
    background-color: mistyrose;
    color:darkolivegreen;
  }

  p {
    margin: 5px;
    font-size: 18px;
  }
  h2 {
    display: inline;
  }

  li {
      display: inline;
      color: mistyrose;
  }

  header,
  footer {
    height: 100px;
    width: 100%;
    line-height: 100px;
    background-color: darkseagreen;
    position: relative;
    color: mistyrose;
    letter-spacing: 1px; 
  }
  
  footer {
    border-top: 10px solid wheat; 
    display: inline-block; 
  }

  img {
    display: block;
    margin: 20px auto;
    width: 25%;
    border-radius: 50%; /* this makes the picture look like an avatar */
    border: black solid 5px;
  }
  figcaption {
      font-size: 18px;
  }
  
  section {
    padding: 20px 10px 40px 10px;
    border-top: 10px solid wheat;
    background-color: mistyrose;
  }

  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }

  .text-left {
      text-align: left;
  }
  