:root {
  --darkgreen: darkolivegreen;
  --lightgreen: #00d1b2;
  --pink: #ffb3b3;
  --border: wheat;
}

* {
    font-family: 'Noto Serif', serif;
    color: black;
    margin:0;
    padding:0; 
  }

body {
  background-color: rgb(16, 83, 16);
}
  
  .Hammond {
    display: block;
    margin: 30px auto;
    min-width: 200px;
    max-width: 300px;
    width: 20%;
    border-radius: 40%; /* this makes the picture look like an avatar */
    border: dimgray solid 3px;
  }

  .img-border{
    border: solid black 3px;
    border-radius: 8%;
  }