/* color palette 
background-color: mistyrose with text darkolivegreen
Background-color: darkseagreen with text mistyrose 
border-color: wheat
*/

* {
    font-family: 'Courier New', Courier, monospace;
    margin:0;
    padding:0;  
  }
  
  main {
    background-color: mistyrose;
    color:darkolivegreen;
  }

  p {
    margin: 5px;
    font-size: 18px;
  }
  h1 {
    margin: 5px;
  }
  h2 {
    display: inline;
  }

  li {
      display: inline;
      color: mistyrose;
  }

  header,
  footer {
    height: 100px;
    width: 100%;
    line-height: 100px;
    background-color: darkseagreen;
    position: relative;
    color: mistyrose;
    letter-spacing: 1px; 
    border-top: 10px solid wheat; 
    border-bottom: 10px solid wheat; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  figcaption {
      font-size: 20px;
  }
  
  section {
    padding: 20px 10px 40px 10px;
    background-color: mistyrose;
  }
  button{
    background-color: wheat;
    padding: 4px;
  }
  
  button:hover {
    background-color:darkolivegreen;
    color: mistyrose;
  }

  .text-center{
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }

  .text-left {
      text-align: left;
  }

  .Github {
    display: flex;
    margin: 20px auto;
    width: 50%;
    border-radius: 10%;
    border: black solid 5px;
  }

  .Hammond {
    display: flex;
    margin: 20px auto;
    width: 20%;
    border-radius: 50%; /* this makes the picture look like an avatar */
    border: black solid 5px;
    float: right;
  }