* {
  font-family: "Yaldevi", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: white;
}

.navbar {
  display: inline;
  text-align: center;
}

.nav-link {
  font-family: "Birthstone", cursive;
  text-decoration: none;
  color: rgb(115, 133, 114);
  font-size: 50px;
}

a {
  text-decoration: none;
}

.nav-link:hover {
  color: black;
}

button {
  border-radius: 10px;
  padding: 5px 10px;
  border-style: none;
}

.fa-file-download {
  color: black;
}

.resume {
  font-family: "Yaldevi", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.headshot {
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 350px;
  border-radius: 60%;
  border: solid rgb(115, 133, 114) 1px;
}

.projects {
  display: inline;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100% auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: static;
}

.about-img {
  float: left;
  height: 500px;
  border-radius: 5%;
  margin: 20px 20px;
  border: black solid 3px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* media queries */

@media only screen and (max-width: 1800px) {
  .header {
    display: block;
    margin: auto;
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 20px;
  }

  .header {
    width: 60%;
  }

  #projects {
    width: 60%;
  }

  footer {
    flex-direction: column;
    width: 30%;
  }
}

@media only screen and (max-width: 480px) {
  * {
    font-size: 20px;
  }

  .header {
    width: 60%;
  }

  #projects {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  footer {
    flex-direction: column;
    width: 30%;
  }
}
