:root {
  --brown: rgb(84, 62, 50);
}

* {
  font-family: "IBM Plex Serif", serif;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: tan;
}

#carouselExampleCaptions {
  width: 0 auto;
  align-items: center;
}
.header {
  padding: 20px;
  background-color: var(--brown);
}

.navbar {
  display: inline;
  text-align: center;
}

li {
  display: inline;
  text-align: center;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

a {
  text-decoration: none;
}

nav a:hover {
  color: rgb(115, 133, 114);
}

a:hover {
  color: white;
}

button {
  border-radius: 10px;
  padding: 3px 7px;
  border-style: none;
  background-color: whitesmoke;
}

button:hover {
  background-color: rgb(115, 133, 114);
}

.fas {
  color: white;
}
.fab {
  color: white;
}

.fa-file-download {
  color: black;
}

.resume {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.headshot {
  width: 35%;
  height: 350px;
  border-radius: 60%;
  display: flex;
  border: var(--brown) solid 3px;
  margin-bottom: 15px;
  float: right;
}

#projects {
  display: inline;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: var(--brown);
  width: 100% auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.info {
  margin-top: 30px;
  font-size: 20px;
}

.project-img {
  width: 100% auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 350px;
  border-radius: 5%;
  display: inline;
  margin: 20px 30px;
  border: var(--brown) solid 3px;
}

#contact {
  color: white;
}

.paragraph {
  margin-top: 5px;
  float: right;
}

.about-img {
  width: 100% auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 350px;
  border-radius: 5%;
  display: inline;
  margin: 20px 30px;
  border: var(--brown) solid 3px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* media queries */

@media only screen and (max-width: 1800px) {
  .header {
    display: block;
    margin: auto;
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 20px;
  }

  .header {
    width: 60%;
  }

  #projects {
    width: 60%;
  }

  footer {
    flex-direction: column;
    width: 30%;
  }
}

@media only screen and (max-width: 480px) {
  * {
    font-size: 20px;
  }

  .header {
    width: 60%;
  }

  #projects {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  footer {
    flex-direction: column;
    width: 30%;
  }
}
